In [1]:
print(5)

5

In [ ]:
print('Hello')

Hello

In [1]:
print('Hello')

Hello

In [1]:
print('Hello')

Hello

In [2]:
import numpy as np

### MẢNG

In [ ]:
a = np.array([1,2,3])
print(a) #[1 2 3]
print(a[1]) #2

In [4]:
import pandas as pd

In [8]:
# Sử dụng sep=',' nếu cột được phân tách bằng dấu phẩy
file_path = r'D:\1_HK2_NAM_3\Thong_ke_may_tinh\SUUTAM\python_Data\dulieuxettuyendaihoc.csv'
data = pd.read_csv(file_path)
print(data)

       MSSV   T1   T2   T3   T4   T5   T6 GT  DT   KV  NGONNGU  \
0     SV001  7.2  8.4  7.4  7.2  7.4  6.9  F NaN  2NT     3.25
1     SV002  5.4  6.3  4.3  4.9  3.0  4.0  M NaN    1     6.00
2     SV003  5.6  5.0  2.8  6.1  4.8  5.7  M NaN    1     5.00
3     SV004  6.6  5.1  5.9  4.1  6.1  7.4  M NaN    1     4.25
4     SV005  6.0  5.4  7.6  4.4  6.8  8.0  M NaN  2NT     4.25
..      ...  ...  ...  ...  ...  ...  ... ..  ..  ...      ...
95   SV0096  8.6  8.9  7.7  6.7  7.9  6.6  F NaN    1     5.25
96   SV0097  3.7  4.1  3.1  3.4  5.5  5.7  F NaN    1     5.25
97   SV0098  8.8  9.5  9.5  8.5  9.0  8.5  M NaN  2NT     7.00
98   SV0099  2.7  2.8  6.2  5.2  4.1  4.3  M NaN    1     5.00
99  SV00100  4.1  4.4  6.0  4.3  5.6  5.1  M NaN  2NT     5.25

    TOANLOGICPHANTICH  GIAIQUYETVANDE  KT    NGAYTHI DINHHUONGNGHENGHIEP
0                3.25            4.50  A1  12/7/2018                  No
1                4.00            3.50   C  12/7/2018                 Yes
2                6.75            4.00   C  12/7/2018                  No
3                4.25            5.25  D1  12/7/2018                  No
4                4.50            5.00   A  12/7/2018                  No
..                ...             ...  ..        ...                 ...
95               1.50            6.25   C  7/20/2022                 Yes
96               3.75            4.75   C  7/20/2022                  No
97               8.00            4.00   C  7/20/2022                 Yes
98               3.50            5.50   C  7/20/2022                  No
99               2.50            4.25   C  7/20/2022                 Yes

[100 rows x 16 columns]

In [9]:

in_tu_n_to_m = data.loc[1:4]
print(in_tu_n_to_m)

    MSSV   T1   T2   T3   T4   T5   T6 GT  DT   KV  NGONNGU  \
1  SV002  5.4  6.3  4.3  4.9  3.0  4.0  M NaN    1     6.00
2  SV003  5.6  5.0  2.8  6.1  4.8  5.7  M NaN    1     5.00
3  SV004  6.6  5.1  5.9  4.1  6.1  7.4  M NaN    1     4.25
4  SV005  6.0  5.4  7.6  4.4  6.8  8.0  M NaN  2NT     4.25

   TOANLOGICPHANTICH  GIAIQUYETVANDE  KT    NGAYTHI DINHHUONGNGHENGHIEP
1               4.00            3.50   C  12/7/2018                 Yes
2               6.75            4.00   C  12/7/2018                  No
3               4.25            5.25  D1  12/7/2018                  No
4               4.50            5.00   A  12/7/2018                  No

In [16]:
data.loc[data['KT']=='C']

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
6,SV007,2.8,4.4,4.6,4.7,5.4,5.3,F,NaN,2,6.50,6.75,5.25,C,12/7/2018,Yes
22,SV0023,5.0,5.5,2.3,4.1,3.4,4.1,F,NaN,2,5.00,3.50,6.00,C,6/13/2019,No
23,SV0024,5.3,6.4,6.1,5.0,5.3,6.1,M,NaN,2NT,6.75,5.25,5.00,C,6/13/2019,No
24,SV0025,2.4,3.3,3.9,3.3,4.4,3.8,F,NaN,1,7.00,2.25,5.25,C,6/13/2019,Yes
25,SV0026,3.6,4.2,4.2,4.8,5.8,3.7,F,NaN,1,4.75,2.00,5.50,C,6/13/2019,No
26,SV0027,4.9,5.9,4.9,6.0,6.1,6.8,F,NaN,1,5.25,4.50,4.75,C,6/13/2019,No
27,SV0028,8.1,4.4,5.0,2.9,5.8,5.6,F,NaN,2NT,5.25,5.00,3.50,C,6/13/2019,Yes
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes