In [1]:
import pandas as pd

In [69]:
import pandas as pd

# Read data from the three files
df_diem1 = pd.read_excel(r'./diem_1.xls')
df_diem2 = pd.read_excel(r'./diem_2.xls')

# Rename the column 'Mã sinh viên' to 'MSSV' in df_diem1
df_diem1.rename(columns={'Mã sinh viên': 'MSSV'}, inplace=True)

# Concatenate 'Họ đệm' and 'Tên' columns into a new column 'Họ đệm' in df_diem1
df_diem1['Họ đệm'] = df_diem1['Họ đệm'].str.cat(df_diem1['Tên'], sep=' ')

print(df_diem1)
print(df_diem2)

TypeError: Cannot use .str.cat with values of inferred dtype 'mixed-integer'.

In [152]:
import pandas as pd

# Đọc dữ liệu từ hai tệp
df_diem1 = pd.read_excel('diem_1.xls')
df_diem2 = pd.read_excel('diem_2.xls')

# Đổi tên cột 'Mã sinh viên' thành 'MSSV' trong df_diem1
df_diem1.rename(columns={'Mã sinh viên': 'MSSV'}, inplace=True)

# Kiểm tra giá trị không phải là số nguyên trong cột "MSSV" và loại bỏ dòng đó
df_diem1 = df_diem1[df_diem1['MSSV'].astype(str).str.isdigit()]
df_diem1['MSSV'] = df_diem1['MSSV'].astype('Int64')  # Sử dụng 'Int64' để hỗ trợ giá trị null

# Sàng lọc dòng có giá trị NaN trong df_diem1
df_diem1_filtered = df_diem1.dropna()
df_diem2_filtered = df_diem2.dropna()

# In DataFrame sau khi đã sàng lọc
# print(df_diem1_filtered)
# print(df_diem2)
# Gộp hai DataFrame lại với nhau dựa trên cột 'MSSV'
df_merged = pd.merge(df_diem1_filtered, df_diem2_filtered, on='MSSV', how='inner')

# In DataFrame sau khi đã gộp
print(df_merged)
# Tính trung bình cộng của hai cột "Điểm_x" và "Điểm_y"
df_merged['Điểm_final'] = (df_merged['Điểm_x'] + df_merged['Điểm_y']) / 2
df_merged.drop(columns=['HỌ TÊN'], inplace=True)

# In DataFrame sau khi tính toán
        #  print(df_merged[['MSSV', 'Họ đệm', 'Tên', 'Điểm_x', 'Điểm_y', 'Điểm_final']])
# Đổi tên cột 
df_merged.rename(columns={'MSSV': 'Mã sinh viên'}, inplace=True)
df_merged.rename(columns={'Điểm_x': 'Điểm_1'}, inplace=True)
df_merged.rename(columns={'Điểm_y': 'Điểm_2'}, inplace=True)
df_merged.rename(columns={'Điểm_final': 'Điểm_final (=(Diem_1+Diem_2)/2)'}, inplace=True)

print(df_merged[['Mã sinh viên', 'Họ đệm', 'Tên', 'Điểm_1', 'Điểm_2', 'Điểm_final (=(Diem_1+Diem_2)/2)']])
# Xuất DataFrame ra file Excel
df_merged.to_excel(r'./diem_final.xlsx', index=False)

        MSSV            Họ đệm     Tên  Điểm_x               HỌ TÊN  Điểm_y
0   21111971  Nguyễn Thị Thanh      An     9.5  Nguyễn Thị Thanh An       6
1   22000615        Nguyễn Tấn     Anh     9.5      Nguyễn Tấn Anh        7
2   21079231         Trần Quốc     Anh     9.5        Trần Quốc Anh       7
3   20123891          Trần Gia     Bảo     7.0         Trần Gia Bảo       8
4   22001525    Bùi Nguyễn Mai     Bon     7.0   Bùi Nguyễn Mai Bon       7
..       ...               ...     ...     ...                  ...     ...
65  21003871      Mã Đức Thanh  Trường     8.0  Mã Đức Thanh Trường       7
66  20007571        Trần Hoàng    Tuấn     8.0      Trần Hoàng Tuấn       7
67  21129041            Đỗ Chí   Tường     8.0         ĐỖ Chí Tường       7
68  21015151         Trần Hiển    Vinh     8.0       Trần Hiển Vinh       8
69  20071341       Nguyễn Minh       Ý     8.0        Nguyễn Minh Ý       8

[70 rows x 6 columns]
    Mã sinh viên            Họ đệm     Tên  Điểm_1  Điểm_2  \
0       21111971  Nguyễn Thị Thanh      An     9.5       6
1       22000615        Nguyễn Tấn     Anh     9.5       7
2       21079231         Trần Quốc     Anh     9.5       7
3       20123891          Trần Gia     Bảo     7.0       8
4       22001525    Bùi Nguyễn Mai     Bon     7.0       7
..           ...               ...     ...     ...     ...
65      21003871      Mã Đức Thanh  Trường     8.0       7
66      20007571        Trần Hoàng    Tuấn     8.0       7
67      21129041            Đỗ Chí   Tường     8.0       7
68      21015151         Trần Hiển    Vinh     8.0       8
69      20071341       Nguyễn Minh       Ý     8.0       8

    Điểm_final (=(Diem_1+Diem_2)/2)
0                              7.75
1                              8.25
2                              8.25
3                              7.50
4                              7.00
..                              ...
65                             7.50
66                             7.50
67                             7.50
68                             8.00
69                             8.00

[70 rows x 6 columns]