* 21010611
* Trần Minh Tiến

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [72]:
df = pd.read_csv('movies_metadata_sample.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_10188\4202734561.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,11,12,13,14,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata_sample.csv')

In [73]:
df.head(4)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [74]:
df.shape

(45466, 24)

In [75]:
df.isnull().sum()

adult                    22565
belongs_to_collection    42794
budget                   22565
genres                   22565
homepage                 41718
id                       22565
imdb_id                  22575
original_language        22568
original_title           22565
overview                 22752
popularity               22567
poster_path              22687
production_companies     22566
production_countries     22566
release_date             22591
revenue                  22567
runtime                  22607
spoken_languages         22567
status                   22595
tagline                  32479
title                    22567
video                    22567
vote_average             22567
vote_count               22567
dtype: int64

In [66]:
pt = df.original_language.value_counts()['en']
print((pt*100)/df.original_language.count())

77.0329286400559

In [ ]:
print("Ngân sách: ")
print("Trung bình: ", df['budget'].mean())
print("Trung vị: ", df['budget'].median())
print("Độ lệch chuẩn: ", df['budget'].std())

print("Doanh thu: ")
print("Trung bình: ", df['revenue'].mean())
print("Trung vị: ", df['revenue'].median())
print("Độ lệch chuẩn: ", df['revenue'].std())

In [79]:
topBudget = df.nlargest(5, 'budget')
print("Top 5 phim có ngân sách cao nhất: ", topBudget['title'].tolist())

TypeError: Column 'budget' has dtype object, cannot use method 'nlargest' with this dtype